.vocablistitem {
  display: flex;
  margin: 0;
  padding: 0;
  padding-left: 10px;
  font-size: 1.4em;
  height: 48px;
  vertical-align: middle;
}

.vocablistitem > *:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.vocablistitem:nth-child(2n) {
  background-color: #f9f9f9;
}

.vocablistitem:nth-child(2n+1) {
  background-color: #fbfbfb;
}

.vocablistitem + .vocablistitem {
  border-top: 1px solid #ECECEC;
}

.vocablistitem--achieved a {
  color: #999;
  text-decoration: line-through;
}

.vocablistitem__value {
  flex: 1;
}

.vocablistitem__btn-achieve {
  vertical-align: middle;
  border: 0;
  width: 70px;
  /* border-left: 1px solid #E2E2E2; */
  background-color: rgba(0, 0, 0, 0.02);
  color: #747474;
  font-size: 0.6em;
  padding: 0 10px;
}

.vocablistitem__btn-achieve:active,
.vocablistitem__btn-achieve:hover,
.vocablistitem__btn-achieve:focus {
  outline: none;
  background-color: rgba(0, 0, 0, 0.1);
}

