.app {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 20px;
}

.app__title {
  color: #0c2340;
}

.app__header {
}

.app__welcome {
  font-size: 1.2em;
}

.app__btn-loginout {
  padding: 0;
  margin: 0;
  background-color: transparent;
  border: 0;
  font-size: 1em;
}