.app {
  max-width: 450px;
  margin: 0 auto;
}

.app__title {
  color: #0c2340;
}

.app__welcome {
  font-size: 1.2em;
}

.app__btn-loginout {
  padding: 0;
  margin: 0;
  background-color: transparent;
  border: 0;
  font-size: 1em;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
