*, *:before, *:after {
  box-sizing: border-box;
}

html {
  font-family: 'Inconsolata', monospace, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #525252;
}

a {
  color: #0061b5;
}

body {
  margin: 0;
  padding: 0;
}
